<html ng-app lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <style type="text/css">
        body {margin: 30px}
        .main {width: 500px}
        canvas {cursor: -webkit-grab;cursor: -moz-grab;margin: 20px 0px 0px 0px}
        canvas.dragging {cursor: -webkit-grabbing;cursor: -moz-grabbing;}
        label {margin: 20px auto !important}
        input {display: none !important}
        .btn-success {margin-bottom: 20px}
        .zoomControls {float: right;position: relative;top: -330px;right: -110px;}
    </style> 
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script>

        var imageExample = function($scope) {        

            var context = document.getElementById('canvas').getContext('2d');
            var image;
            var calc = {image: {}, zoom: {}, boundary: {}};
            $scope.imageLoaded = false;

            // Target dimensions
            $scope.config = {
                minWidth: 615,
                minHeight: 315
            };

            // Check if we can upload files
            if (!window.File || !window.FileReader || !window.FileList || !window.Blob) {
              alert('The File APIs are not fully supported in this browser.');
            } 

            var redraw = function() {
                context.clearRect(0, 0, $scope.config.minWidth, $scope.config.minHeight);
                context.drawImage(image, calc.image.x, calc.image.y, calc.image.width, calc.image.height);
            }

            var reader = new FileReader();
            reader.onload = function(e) {

                image = new Image();
                image.src = reader.result;

                // Check height and width
                if (image.height < $scope.config.minHeight || image.width < $scope.config.minWidth) {
                    alert('Image must be at least ' + $scope.config.minWidth + ' wide and ' + $scope.config.minHeight + ' high');
                    return;
                }

                // Designed for when we want landscape dimensions, may need to be tweaked for portrait
                var resizeFactor = $scope.config.minWidth / image.width;
                calc.image.height = image.height * resizeFactor;
                calc.image.width = $scope.config.minWidth;
                calc.verticalOffset = calc.image.height - $scope.config.minHeight;
                calc.image.y = (calc.verticalOffset / 2) * -1;
                calc.image.x = 0;
                calc.boundary.x = function() {return (calc.image.width - $scope.config.minWidth) * -1};
                calc.boundary.y = function() {return (calc.image.height - $scope.config.minHeight) * -1};
                redraw();
                $scope.imageLoaded = true;

                calc.zoom.x = calc.image.width * .1;
                calc.zoom.y = calc.image.height * .1;

                $scope.$apply();
            };

            var fileSelected = function(event) {
                var file = event.target.files[0];
                reader.readAsDataURL(file);
            };

            document.getElementById('file').addEventListener('change', fileSelected, false);

            // Drag Logic
            $scope.dragging = false;
            $scope.down = function($event) {

                $scope.dragging = true;
            }

            var cursorLocation = {};
            $scope.move = function($event) {

                if ($scope.dragging && cursorLocation.y) {
                    // Drag down
                    if ($event.layerY > cursorLocation.y) {
                        var newY = calc.image.y + ($event.layerY - cursorLocation.y);
                        if (newY < 0) {
                            calc.image.y = newY;
                        }
                    }

                    // Drag up
                    if ($event.layerY < cursorLocation.y) {
                        var newY = calc.image.y - (cursorLocation.y - $event.layerY);
                        if (newY > calc.boundary.y()) {
                            calc.image.y = newY;
                        }
                    }

                    // Drag left
                    if ($event.layerX < cursorLocation.x) {
                        var newX = calc.image.x - (cursorLocation.x - $event.layerX);
                        if(newX > calc.boundary.x()) {
                            calc.image.x = newX;
                        }
                    }

                    // Drag right
                    if ($event.layerX > cursorLocation.x) {
                        var newX = calc.image.x + ($event.layerX - cursorLocation.x);
                        if (newX <= 0) {
                            calc.image.x = newX;
                        }
                    }

                    redraw();
                }
                cursorLocation.x = $event.layerX;
                cursorLocation.y = $event.layerY;
            }

            $scope.up = function($event) {
                $scope.dragging = false;
            }

            // Zoom logic
            var currentZoom = 0;
            $scope.zoom = function(direction) {

                if (direction == 'in') {
                    currentZoom++;

                    calc.image.width = calc.image.width + calc.zoom.x;
                    calc.image.height = calc.image.height + calc.zoom.y;
                } else {
                    if (currentZoom > 0) {
                        currentZoom--;
                        calc.image.width = calc.image.width - calc.zoom.x;
                        calc.image.height = calc.image.height - calc.zoom.y;
                        
                        // Zoom out would show white space on bottom, correct image position
                        if (calc.image.y < calc.boundary.y()) {
                            calc.image.y = calc.boundary.y();
                        }
                        // Zoom out would show white space on right, correct image position
                        if(calc.image.x < calc.boundary.x()) {
                            calc.image.x = calc.boundary.x();
                        }
                    }
                }

                redraw();
            };

            $scope.generateImage = function() {
                $scope.imageExport = canvas.toDataURL();;
            };
        };
    </script>
</head>
<body>
    <div ng-controller="imageExample" class="main">
        <h1>Image Cropping and Resizing with Just Javascript</h1>
        <div>
            <label for="file" class="btn btn-primary">Choose an image to upload</label>
            <input type="file" id="file" name="files"/>
        </div>
        <div ng-show="imageLoaded">
            <div>
                Click and drag the image below or use the zoom controls to the right.
            </div>
            <div>
                <canvas id="canvas" ng-class="{dragging: dragging}" width="{{config.minWidth}}" height="{{config.minHeight}}" class="thumbnail" ng-mousedown="down()" ng-mouseup="up()" ng-mousemove="move($event)" ng-mouseleave="up()"></canvas>
            </div>
            <div class="zoomControls" ng-show="!dragging">
                <a class="btn btn-info" href="#" ng-click="zoom('in')">+</a>
                <a class="btn btn-info" href="#" ng-click="zoom('out')">-</a> 
            </div>
            <div>
                <a class="btn btn-success" ng-click="generateImage()"> Generate Image</a>
            </div>
            <div ng-show="imageExport">Right click the image below to save it</div>
            <img ng-show="imageExport" class="thumbnail" src="{{imageExport}}" />
        </div>
    </div>
</body>
</html>